# Welcome 

This is mission 1 from dataquest : 
https://www.dataquest.io/mission/1/python-basics

In [3]:
import sys
print(sys.version)

3.6.0 |Anaconda 4.3.1 (64-bit)| (default, Dec 23 2016, 11:57:41) [MSC v.1900 64 bit (AMD64)]

#### Add a line of code that assigns the value 123 to the variable china.

#### Add a line of code that assigns the value 124 to the variable india.

#### Add a line of code that assigns the value 134 to the variable united_states.

In [1]:
england = 135
china = 123
india = 124
united_states = 134

#### Add a line of code that uses the print() function to display the value associated with china.

#### Add a line of code that uses the print() function to display the value associated with india.

#### Add a line of code that uses the print() function to display the value associated with united_states.

In [2]:
china = 123
print(china)

india = 124
print(india)

united_states = 134
print(united_states)

123
124
134

#### Assign the string value "China" to china_name.

#### Assign the integer value 123 to china_rounded. This is the rounded value for the hottest temperature) ever recorded in China.

#### Assign the float value 122.5 to china_exact. This is the exact value for the hottest temperature ever recorded in China.

#### Use the print() function to display china_name, china_rounded, and china_exact.
    
    ##### Note that we're really asking you to display the values associated with these variables but we'll stick to ths shorter wording from now on.

In [3]:
china_name = "China"
china_rounded = 123
china_exact = 122.5

print(china_name)
print(china_rounded)
print(china_exact)

China
123
122.5

#### Display the type for the value associated with china_exact.

In [4]:
china_name = "China"
china_exact = 122.5
print(type(china_exact))

<class 'float'>

#### Convert china_rounded to a string and assign to int_to_str.
#### Then, convert int_to_str to an integer and assign the result to str_to_int.

In [5]:
china_rounded = 123
int_to_str = str(china_rounded)

str_to_int = int(int_to_str)

print(int_to_str)
print(str_to_int)

123
123

#### Before each assignment statement, add a single-line comment of your choosing.

In [6]:
# poop is nyc
china = 123
# poop is usually brown
india = 124
# poop can be of many types
united_states = 134

#### Add the integer value 10 to china and assign the resulting value to the new variable china_plus_10.
#### Multiply united_states by 100 and assign the resulting value to the new variable us_times_100.3.
#### Display the variables china_plus_10 and us_times_100 using the print() function.

In [7]:
china_plus_10 = china + 10

us_times_100 = united_states * 100

print(china_plus_10)
print(us_times_100)

133
13400

#### Subtract 32 from china, multiply the result by the float 0.56, and assign the final result to china_celsius
#### Subtract 32 from india, multiply the result by the float 0.56, and assign the final result to india_celsius.
#### Subtract 32 from united_states, multiply the result by the float 0.56, and assign the final result to us_celsius.

In [10]:
china = 123
india = 124
united_states = 134

china_celsius = (china - 32) * 0.56

india_celsius = (india - 32) * 0.56

us_celsius = (united_states - 32) * 0.56

print(china_celsius, india_celsius, us_celsius)

50.96000000000001 51.52 57.120000000000005

#### Get familiar with the console by:
    Dividing 5 by 10.
    Assigning the value 103 to the variable indonesia then displaying indonesia.

In [12]:
5 / 10

0.5

In [13]:
indonesia = 103
indonesia

103

#### Create two empty lists, countries and temperatures.
#### Add the following strings to the list countries, in the following order:
    "China".
    "India".
    "United States".
#### Add the following float values to the list temperatures, in the following order:
    122.5.
    124.0.
    134.1.
#### Use the variables display or the print() function to display the lists.

In [15]:
countries = []
temperatures = []

countries.append("China")
countries.append("India")
countries.append("United States")

temperatures.append(122.5)
temperatures.append(124.0)
temperatures.append(134.1)

print(countries)
print(temperatures)

['China', 'India', 'United States']
[122.5, 124.0, 134.1]

#### Create and populate the list temps with the following values in a single line of code, in the following order:
    "China".
    122.5.
    "India".
    124.0.
    "United States".
    134.1.

In [16]:
temps = ["China", 122.5, "India", 124.0, "United States", 134.1]
print (temps)

['China', 122.5, 'India', 124.0, 'United States', 134.1]

#### Select the first element from the list countries and assign to the new variable china.
#### Select the first element from the list temperatures and assign to the new variable china_temperature.

In [17]:
countries = []
temperatures = []

countries.append("China")
countries.append("India")
countries.append("United States")

temperatures.append(122.5)
temperatures.append(124.0)
temperatures.append(134.1)

# Add your code here.
china = countries[0]
china_temperature = temperatures[0]

print(china, china_temperature)

China 122.5

#### Add the lengths of the countries and temperatures list objects and assign the sum to two_sum.

In [18]:
countries = ["China", "India", "United States", "Indonesia", "Brazil", "Pakistan"]
temperatures = [122.5, 124.0, 134.1, 103.1, 112.5, 128.3]

two_sum = len(countries) + len(temperatures)

print(two_sum)

12

#### Select the second, third, and fourth elements from countries and assign the resulting list to countries_slice.
#### Select the last three elements in temperatures and assign to temperatures_slice.

In [19]:
countries = ["China", "India", "United States", "Indonesia", "Brazil", "Pakistan"]
temperatures = [122.5, 124.0, 134.1, 103.1, 112.5, 128.3]

countries_slice = countries[1:4]
print(countries_slice)

temperatures_slice = temperatures[len(temperatures)-3:len(temperatures)]
print(temperatures_slice)

['India', 'United States', 'Indonesia']
[103.1, 112.5, 128.3]

### THE FINISH OF THIS MISSION 8-)