# Welcome 

This is mission 154 from dataquest : https://www.dataquest.io/mission/154/booleans-and-if-statements

#### Assign the value True to the variable cat, and the value False to the variable dog.
#### Then, use the print() function and the type() function to display the type for cat.

In [1]:
cat = True
dog = False

print(type(cat))

<class 'bool'>

#### Use the Boolean operators to determine if the following pairs of values are equivalent:
    The first element in cities and the string "Albuquerque". Assign the resulting Boolean value to first_alb.
    The second element in cities and the string "Albuquerque". Assign the resulting Boolean value to second_alb.
    The first element in cities and the last element in cities. Assign the resulting Boolean value to first_last.

In [4]:
f = open('crime_rates.csv', 'r')
data = f.read()
rows = data.split('\n')
cities = []
for row in rows:
    values = row.split(',')
    crime_rate = str(values[0])
    cities.append(crime_rate)
print(cities)

first_alb = (cities[0] == "Albuquerque")
print(first_alb)

second_alb = (cities[1] == "Albuquerque")
print(second_alb)

first_last = (cities[0] == cities[len(cities)-1])
print(first_last)

['Albuquerque', 'Anaheim', 'Anchorage', 'Arlington', 'Atlanta', 'Aurora', 'Austin', 'Bakersfield', 'Baltimore', 'Boston', 'Buffalo', 'Charlotte-Mecklenburg', 'Cincinnati', 'Cleveland', 'Colorado Springs', 'Corpus Christi', 'Dallas', 'Denver', 'Detroit', 'El Paso', 'Fort Wayne', 'Fort Worth', 'Fresno', 'Greensboro', 'Henderson', 'Houston', 'Indianapolis', 'Jacksonville', 'Jersey City', 'Kansas City', 'Las Vegas', 'Lexington', 'Lincoln', 'Long Beach', 'Los Angeles', 'Louisville Metro', 'Memphis', 'Mesa', 'Miami', 'Milwaukee', 'Minneapolis', 'Mobile', 'Nashville', 'New Orleans', 'New York', 'Newark', 'Oakland', 'Oklahoma City', 'Omaha', 'Philadelphia', 'Phoenix', 'Pittsburgh', 'Plano', 'Portland', 'Raleigh', 'Riverside', 'Sacramento', 'San Antonio', 'San Diego', 'San Francisco', 'San Jose', 'Santa Ana', 'Seattle', 'St. Louis', 'St. Paul', 'Stockton', 'Tampa', 'Toledo', 'Tucson', 'Tulsa', 'Virginia Beach', 'Washington', 'Wichita']
True
False
False

#### The variable crime_rates is a list of integers containing the crime rates from the dataset. Perform the following comparisons:
    Evaluate whether the first element in crime_rates is larger than the integer 500, and assign the Boolean result to first_500.
    Evaluate whether the first element in crime_rates is larger than or equal to 749, and assign the Boolean result to first_749.
    Evaluate whether the first element in crime_rates is greater than or equal to the last element in crime_rates, and assign the Boolean result to first_last.

In [6]:
f = open('crime_rates.csv', 'r')
data = f.read()
rows = data.split('\n')
crime_rates = []
for row in rows:
    values = row.split(',')
    crime_rate = int(values[1])
    crime_rates.append(crime_rate)
print(crime_rates)

first_500 = ( crime_rates[0] > 500 )
print(first_500)

first_749 = ( crime_rates[0] >= 749 )
print(first_749)

first_last = ( crime_rates[0] >= crime_rates[len(crime_rates)-1] )
print(first_last)

[749, 371, 828, 503, 1379, 425, 408, 542, 1405, 835, 1288, 647, 974, 1383, 455, 658, 675, 615, 2122, 423, 362, 587, 543, 563, 168, 992, 1185, 617, 734, 1263, 784, 352, 397, 575, 481, 598, 1750, 399, 1172, 1294, 992, 522, 1216, 815, 639, 1154, 1993, 919, 594, 1160, 636, 752, 130, 517, 423, 443, 738, 503, 413, 704, 363, 401, 597, 1776, 722, 1548, 616, 1171, 724, 990, 169, 1177, 742]
True
True
True

#### The variable crime_rates is a list containing the crime rates from the dataset as integers. Perform the following comparisons:
    Determine whether the second element in crime_rates is smaller than the integer 500, and assign the Boolean result to second_500.
    Determine whether the second element in crime_rates is smaller than or equal to 371, and assign the Boolean result to second_371.
    Determine whether the second element in crime_rates is smaller than or equal to the last element in crime_rates, and assign the Boolean result to second_last.

In [7]:
print(crime_rates)

second_500 = ( crime_rates[1] < 500 )
print(second_500)

second_371 = ( crime_rates[1] <= 371 )
print(second_371)

second_last = ( crime_rates[1] <= crime_rates[len(crime_rates)-1] )
print(second_last)

[749, 371, 828, 503, 1379, 425, 408, 542, 1405, 835, 1288, 647, 974, 1383, 455, 658, 675, 615, 2122, 423, 362, 587, 543, 563, 168, 992, 1185, 617, 734, 1263, 784, 352, 397, 575, 481, 598, 1750, 399, 1172, 1294, 992, 522, 1216, 815, 639, 1154, 1993, 919, 594, 1160, 636, 752, 130, 517, 423, 443, 738, 503, 413, 704, 363, 401, 597, 1776, 722, 1548, 616, 1171, 724, 990, 169, 1177, 742]
True
True
True

#### Determine whether the third element in cities is equivalent to the string "Anchorage".
    If it is, change the variable result to 1.

In [8]:
result = 0

if(cities[2] == "Anchorage"):
    result = 1

    print(result)

1

#### Write a piece of code that nests the following concepts in the order in which they appear:
    An if statement that tests whether the first element in crime_rates is larger than 500
    A second if statement that tests whether the second element in crime_rates is larger than 300
    If both statements evaluate to True, assign the value True to the variable both_conditions

In [9]:
both_conditions = False

if(crime_rates[0] > 500):
    if(crime_rates[1] > 300):
        both_conditions = True

print(both_conditions)

True

#### Create a new list, five_hundred_list, that contains only the elements from crime_rates that are greater than 500. To accomplish this, you'll need a for loop and an if statement:
    The for loop specifies which list we want to iterate over and the name of the iterator variable (we use cr in our answer).
    The if statement determines whether the current element (cr) is larger than 500.
        If the current element (cr) is larger than 500, use the append() method to add it to five_hundred_list.

In [10]:
five_hundred_list = []

for cr in crime_rates:
    if(cr > 500):
        five_hundred_list.append(cr)
        
print(five_hundred_list)

[749, 828, 503, 1379, 542, 1405, 835, 1288, 647, 974, 1383, 658, 675, 615, 2122, 587, 543, 563, 992, 1185, 617, 734, 1263, 784, 575, 598, 1750, 1172, 1294, 992, 522, 1216, 815, 639, 1154, 1993, 919, 594, 1160, 636, 752, 517, 738, 503, 704, 597, 1776, 722, 1548, 616, 1171, 724, 990, 1177, 742]

#### Find the largest integer in crime_rates using the strategy we just outlined, and assign that value to the variable highest.

In [11]:
print(crime_rates)

highest = crime_rates[0]

for poop in crime_rates:
    if(poop > highest):
        highest = poop

print(highest)

[749, 371, 828, 503, 1379, 425, 408, 542, 1405, 835, 1288, 647, 974, 1383, 455, 658, 675, 615, 2122, 423, 362, 587, 543, 563, 168, 992, 1185, 617, 734, 1263, 784, 352, 397, 575, 481, 598, 1750, 399, 1172, 1294, 992, 522, 1216, 815, 639, 1154, 1993, 919, 594, 1160, 636, 752, 130, 517, 423, 443, 738, 503, 413, 704, 363, 401, 597, 1776, 722, 1548, 616, 1171, 724, 990, 169, 1177, 742]
2122


## THE FINISH OF THIS MISSION 8-)