# Welcome 

This is mission 158 from dataquest : https://www.dataquest.io/mission/158/challenge-files-loops-and-conditional-logic

#### Use the open() function with the following parameters to return a File object: 
    dq_unisex_names.csv for the file name
    r for read mode
#### Then, use the read() method of the File object to read the file into a string.
#### Assign that string to a variable named names.

In [1]:
reading = open("dq_unisex_names.csv","r");
names = reading.read()

#### Use the split() method that strings have to split on the new-line delimiter ("\n"), and assign the resulting list to names_list.
#### Select the first five elements in names_list, and assign them to first_five.
#### Display first_five using the print() function.

In [3]:
 f= open('dq_unisex_names.csv', 'r')
names = f.read()

names_list = names.split("\n")

first_five = names_list[0:5]

#print(names_list)
print(first_five)

['Casey,176544.328149', 'Riley,154860.66517300002', 'Jessie,136381.830656', 'Jackie,132928.78874000002', 'Avery,121797.41951600001']

#### Split each element in names_list on the comma delimiter (,) and append the resulting list to nested_list. To accomplish this:
    Create an empty list and assign it to nested_list.
    Write a for loop that iterates over names_list.
    Within the loop body, run the split() method on each element to return a list (assign that list to comma_list).
    Within the loop body, run the append() method to add each list (comma_list) to nested_list.
#### Use the print() function to display the first five elements in nested_list.

In [4]:
f = open('dq_unisex_names.csv', 'r')
names = f.read()
names_list = names.split('\n')

nested_list = []
comma_list = []

for itr in names_list:
    comma_list = itr.split(",")
    nested_list.append(comma_list)
    
print(nested_list[0:5])

[['Casey', '176544.328149'], ['Riley', '154860.66517300002'], ['Jessie', '136381.830656'], ['Jackie', '132928.78874000002'], ['Avery', '121797.41951600001']]

#### Create a new list of lists called numerical_list where:
    The element at index 0 for each list is the unisex name (as a string)
    The element at index 1 for each list is the number of people who share that name (as a float)
#### To accomplish this:
    Create an empty list and assign it to numerical_list.
    Write a for loop that iterates over nested_list. In the loop body:
        Retrieve the element at index 0 and assign it to a variable.
        Retrieve the element at index 1, convert it to a float, and assign it to a variable.
        Create a new list containing these two elements (in the same order).
        Use the append() method to add this new list to numerical_list.
#### Finally, display the first five elements in numerical_list.

In [5]:
print(nested_list[0:5])

numerical_list = []

for itr in nested_list:
    unisex_name = itr[0]
    numerical_value = float(itr[1])
    new_list = [unisex_name, numerical_value]
    numerical_list.append(new_list)
    
print(numerical_list[0:5])

[['Casey', '176544.328149'], ['Riley', '154860.66517300002'], ['Jessie', '136381.830656'], ['Jackie', '132928.78874000002'], ['Avery', '121797.41951600001']]
[['Casey', 176544.328149], ['Riley', 154860.66517300002], ['Jessie', 136381.830656], ['Jackie', 132928.78874000002], ['Avery', 121797.41951600001]]

#### Create a new list of strings called thousand_or_greater that only contains the names shared by 1,000 people or more.
#### To accomplish this:
    Create an empty list and assign it to thousand_or_greater.
    Write a for loop that iterates over numerical_list.
    In the loop body, use an if statement to determine if the value at index 1 for that element (which is a list) is greater than or equal to 1000.
    If the value is greater than or equal to 1000, use the append() method to add its name to thousand_or_greater.
#### Finally, display the first 10 elements in thousand_or_greater.

In [6]:
# The last value is ~100 people
numerical_list[len(numerical_list)-1]

thousand_or_greater = []

for itr in numerical_list:
    if (itr[1] >= 1000):
        thousand_or_greater.append(itr[0])
        
print(thousand_or_greater[0:10])

['Casey', 'Riley', 'Jessie', 'Jackie', 'Avery', 'Jaime', 'Peyton']

## THIS IS THE END 8-)